# Pandas e Séries Cronológicas

## >> Resposta da Tarefa:

### 1. Com este arquivo (Summer-Olympic-medals-1976-to-2008), construir um objeto de Serie cronológica com o índice igual ao ano dos jogos olímpicos

In [3]:
import pandas as pd
import numpy as np 

# Carregar o arquivo CSV com a codificação correta
file_path = 'Summer-Olympic-medals-1976-to-2008.csv'
data = pd.read_csv(file_path, encoding='ISO-8859-1')

# Agrupar os dados pelo ano e contar o número de medalhas
medal_counts_per_year = data.groupby('Year').size()

# Criar a série cronológica com o índice igual ao ano
serie_cronologica = pd.Series(medal_counts_per_year, index=medal_counts_per_year.index)

# Exibir a série cronológica
print(serie_cronologica)
#df = pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv')
#df.head()

Year
1976.0    1305
1980.0    1387
1984.0    1459
1988.0    1546
1992.0    1705
1996.0    1859
2000.0    2015
2004.0    1998
2008.0    2042
dtype: int64

### 2.  Separar os nomes próprios de sobrenomes em duas colunas distintas usando vírgula como separador

In [4]:
import pandas as pd

# Carregar o arquivo CSV com a codificação correta
file_path = 'Summer-Olympic-medals-1976-to-2008.csv'
data = pd.read_csv(file_path, encoding='ISO-8859-1')

# Separar os nomes próprios dos sobrenomes, lidando com possíveis exceções
data[['Sobrenome', 'Nome']] = data['Athlete'].str.split(', ', expand=True, n=1)

# Exibir as primeiras linhas para verificar o resultado
data.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Sobrenome,Nome
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar

### 3. Obter medidas resumidas do conjunto de dados

In [8]:
import pandas as pd

# Carregar o arquivo CSV com a codificação correta
file_path = 'Summer-Olympic-medals-1976-to-2008.csv'
data = pd.read_csv(file_path, encoding='ISO-8859-1')

# Separar os nomes próprios dos sobrenomes, lidando com possíveis exceções
data[['Sobrenome', 'Nome']] = data['Athlete'].str.split(', ', expand=True, n=1)

# Obter estatísticas descritivas das colunas numéricas
estatisticas_descritivas = data.describe()

# Obter contagem de valores únicos para cada coluna
valores_unicos = data.nunique()

# Verificar valores ausentes em cada coluna
valores_ausentes = data.isnull().sum()

# Exibir os resultados
print("Estatísticas Descritivas:")
print(estatisticas_descritivas)
print("\nContagem de Valores Únicos:")
print(valores_unicos)
print("\nContagem de Valores Ausentes:")
print(valores_ausentes)

Estatísticas Descritivas:
               Year
count  15316.000000
mean    1993.620789
std       10.159851
min     1976.000000
25%     1984.000000
50%     1996.000000
75%     2004.000000
max     2008.000000

Contagem de Valores Únicos:
City                9
Year                9
Sport              28
Discipline         41
Event             293
Athlete         11337
Gender              2
Country_Code      128
Country           127
Event_gender        3
Medal               3
Sobrenome        8930
Nome             5587
dtype: int64

Contagem de Valores Ausentes:
City            117
Year            117
Sport           117
Discipline      117
Event           117
Athlete         117
Gender          117
Country_Code    117
Country         117
Event_gender    117
Medal           117
Sobrenome       117
Nome            210
dtype: int64

### 4. Construir uma tabela mostrando quantas medalhas foram ganhas pelos homens no total em cada ano

In [9]:
import pandas as pd

# Carregar o arquivo CSV com a codificação correta
file_path = 'Summer-Olympic-medals-1976-to-2008.csv'
data = pd.read_csv(file_path, encoding='ISO-8859-1')

# Filtrar os dados para contar apenas as medalhas ganhas pelos homens
medalhas_homens = data[data['Gender'] == 'Men']

# Contar o número de medalhas ganhas pelos homens em cada ano
medalhas_homens_por_ano = medalhas_homens.groupby('Year').size().reset_index(name='Total Medalhas')

# Exibir o resultado
medalhas_homens_por_ano

     Year  Total Medalhas
0  1976.0             924
1  1980.0             958
2  1984.0             973
3  1988.0            1011
4  1992.0            1105
5  1996.0            1082
6  2000.0            1126
7  2004.0            1099
8  2008.0            1110